@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-container {
  overflow-x: auto;
  white-space: nowrap; /* or flex layout with wider content */
}

html,
body {
  overscroll-behavior-y: none;
}
